{{ caddy_site }} {
{% if caddy_tls_mode == 'internal' %}
    tls internal
{% endif %}
    encode zstd gzip
{% for route in routes %}
    @{{ route.name }} path {{ route.paths | join(' ') }}
    reverse_proxy @{{ route.name }} {{ route.upstream }}
{% endfor %}
}